---
import DefaultLayout from '../layouts/default.astro'
---

<style></style>

<DefaultLayout>
  <p>Welcome to astrosite!</p>
</DefaultLayout>

<script hoist type="module">
  import '/src/client/foo'

  window.foo()
</script>
