---
import DefaultLayout from '../layouts/default.astro'
import Dropdown from '../components/dropdowns/Dropdown.vue'
import Error from '../components/alerts/Error.vue'
import Modal from '../components/modals/Modal.vue'
import Warning from '../components/alerts/Warning.vue'
import Success from '../components/alerts/Success.vue'
import Info from '../components/alerts/Info.vue'
import ExampleCard from '../components/cards/ExampleCard.vue'
import ExampleCarousel from '../components/carousels/ExampleCarousel.vue'
import ExampleNumberCarousel from '../components/carousels/ExampleNumberCarousel.vue'
import Collapse from '../components/collapse/Collapse.vue'
import ExampleTable from '../components/tables/ExampleTable.vue'

const links = [
  { label: 'option1', url: '#foo' },
  { label: 'option2', url: '#bar' }
]
---

<DefaultLayout>
  <p class="my-4 text-xl">Welcome to your site!</p>
  <p class="my-4 text-lg">Here are some components:</p>

  <div>
    <div class="my-4 row">
      <Modal label="hello modal" title="Hello modal">
        <p>modal content</p>
      </Modal>
    </div>

    <div class="my-4 row">
      <Dropdown label="dropdown" title="Menu" {links} />
    </div>

    <div class="my-4 row">
      <Error message="this is an error message" />
      <Warning message="this is a warning message" />
      <Success message="this is a success message" />
      <Info message="this is an info message" />
    </div>

    <div class="my-4 row">
      <ExampleCard />
    </div>

    <div class="my-4 row">
      <ExampleCarousel />
      <ExampleNumberCarousel />
    </div>

    <div class="my-4 row">
      <Collapse class="w-1/2" title="My collapsable">
        <p>now you see me</p>
      </Collapse>
    </div>

    <div class="my-4 row">
      <ExampleTable />
    </div>
  </div>
</DefaultLayout>

<script type="module">
  import '/src/client/foo'

  window.foo()
</script>
